.textarea {
  display: "block";
  resize: "none";
  border: "none";
  width: "300px";
  height: "40px";
  font-family: "Consolas,'Courier New', monospace";
  font-size: "30px";

  &:focus {
    border: none;
    outline: none;
  }
}
